/* here we are going to style the various form elements */
*{
    box-sizing: border-box;
}
body{
    background-color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}
.container{
    background-color: rgba(32, 34, 34, 0.315);
    border-radius:5px;
    width: 350px;
    font-size: small;
    font-weight: 500;
    overflow: hidden;
}
.form{
    padding:30px;
}
.form-header{
    text-align: center;
    background-color:rgba(166, 245, 62, 0.828);
    padding: 10px;
    margin:0;
}
.input{
    margin-bottom: 10px;
    padding-bottom:10px;
    width:100%;
}
#submit{
    width:100%;
    padding:10px;
    border-radius: 8px;
    font-weight: 700;
    margin-top:20px;
    background-color:rgba(166, 245, 62, 0.828);
}
#submit:hover{
    color:rgb(255, 255, 255);
    background-color:rgba(0, 0, 0, 0.513);
    cursor: pointer;
}
